@import "abstracts/_variable.sass"
@import "base/_animation.sass"
@import "base/_text.sass"
@import "components/_header.sass"
@import "components/_btn.sass"

* , ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box


.container
    background-color: #F7f7f7
    
html
    font-size: 62.5%
body
    font-size: 1.6rem
    color: $color-gray
    font-family: Roboto
    font-weight: 400
    letter-spacing: .2rem
    padding: 5rem



