.section-about
    &__box
        display: flex
        justify-content: space-between
        padding-left: 10rem
        padding-right: 10rem
        &_left
            max-width: 57rem
       
        

   